@use "./base.scss";

p, a {
  text-align: justify;
  text-justify: inter-word;
  overflow-wrap: break-word;
  hyphens: none;
}

@media screen and (max-width: 768px) {
  p {
    text-align: left;
  }
}
